/amazon_logo.png
/anchor.html
/audio.html
/Biodata.html
/box1_image.jpg
/box2_image.jpg
/box3_image.jpg
/box4_image.jpg
/box5_image.jpg
/box6_image.jpg
/box7_image.jpg
/box8_image.jpg
/day2.html
/day3.html
/day3_1.html
/day4.html
/day5.html
/day6.html
/Dil Galti Kar Baitha Hai_320(PagalWorld.com.se).mp3
/finalproject.css
/finalproject.html
/finalproject.js
/first.js
/flexbox.css
/flexbox.html
/form.html
/function.js
/gla logo.jpg
/gla.css
/gla.hero.png
/gla.hero1.jpg
/gla.html
/gla1_logo.png
/hero_image.jpg
/index2.html
/lec.js
/lec2.js
/level3.html
/login.html
/media.html
/medium.css
/medium.html
/medium.webp
/navitigation.html
/pr5.html
/pr6.css
/pr6.html
/pr7.css
/pr7.html
/project1.html
/Screenshot 2024-08-17 082529.png
/Screenshot 2024-09-04 154505.png
/simple.html
/string.js
/style1.css
/style3.css
/style4.css
/table.html
/table2.html
/wp6310710.webp